*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn{
    display: flex;
    gap: 20px;
    padding: 4px 20px;
   
}
button{
    padding: 10px 25px;
    /* color: #0000; */
    background-color: #ffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container{
    background-color: #E8C8C7;
    width: 100%;
}
.container li{
     display: inline-block; 
    list-style-type: none;
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;

}
a{
    text-decoration: none;
    color: black;
}
.container ul{
    display: flex;
    justify-content: space-between;
    gap: 70px;
    padding: 2% 12%;
}
.container ul a:hover{
      border-bottom: 3px solid #ffff;
      padding-bottom: 4px;
}